body{
    background-color: beige;
    color: rgb(231, 22, 22);
    text-align: justify;
}

h1{
    color: #0096FF;
    text-align: center;
}

p{
    text-align: center;
}

button{
    background-color: rgb(0, 255, 242);
    color: rgb(0, 0, 0);
    padding: 12px 24px;          /* top/bottom + left/right spacing */
    border-radius: 20px;          /* rounded corners */
    font-size: 20px;             /* text size */
    font-weight: bold;      
    cursor: pointer;             /* pointer on hover */
    display: block;       /* makes button a block element */
    margin: 0 auto;       /* auto left/right margin centers it */
}
button:hover {
  background-color: rgb(168, 255, 28);
}

#data{
    color: #000;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

input{
    margin-left: 10px;
    padding: 5px;
    margin-top: -9px;
}
.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

#colorBtn{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  transition: background-color 0.5s ease; /* smooth color change */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#toggleBtn{
    margin: 5px,10px;
}
#myBtn{
    margin-top: 20px;
}
#submit{
    margin-bottom: 500px;
}
input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
